* {
    color: #222;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.logo {
    width: 10.438rem;
    height: 2.313rem;
    flex-shrink: 0;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
}

.navbar {
    padding: 1rem 4.375rem;
    background: #FFF;
    box-shadow: 0rem 0.25rem 0.5rem 0rem rgba(34, 34, 34, 0.08);
}

.navbar-nav {
    gap: 1.5rem;
}

.navbar-nav a {
    color: #222;
    font-size: 0.875rem;
}

.navbar-nav a:hover {
    color: #E97700;
}

.navbar-nav .nav-link.active {
    color: #E97700;
    font-weight: 600;
}

.navbar-collapse {
    flex-grow: 0;
}

.btn-box {
    margin-left: 250px;
    display: flex;
    padding: 0.25rem;
    align-items: center;
    gap: 0.25rem;
    border-radius: 0.5rem;
    background: #EBEBEB;
}

.btn {
    font-size: 0.875rem;
    padding: 0.375rem 0.75rem;
}

.btn-light {
    font-weight: 600;
}

@media (max-width: 1280px) {
    .btn-box {
        margin-left: 100px;
    }
}

@media (max-width: 1140px) {
    .btn-box {
        display: none;
    }
}



main {
    margin: 3rem 4rem;
}

@media (max-width: 1140px) {
    main {
        margin: 2em;
    }

    .navbar {
        padding: 2em;
    }
}


.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 43.75rem;
    border-radius: 1rem;
    background: #FFF4E9;
    gap: 56px;
    padding: 4rem;
    overflow: hidden;
    position: relative;
}

.hero .image {
    z-index: 1;
}

.left-bottom,
.right-bottom,
.right-top {
    position: absolute;
}

.left-bottom {
    left: 0;
    bottom: 0;
}

.right-bottom {
    right: 0;
}

.right-top {
    right: 0;
    top: 0;
}

.hero .text {
    z-index: 1;
}

.hero .text h1 {
    font-size: 54px;
    font-weight: 800;
    padding: 1rem 0;
    word-wrap: break-word
}

.hero .text p {
    font-size: 16px;
    padding: 0.5rem 0;
    padding-right: 32px;
    word-wrap: break-word
}

.hero-btn-box {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding-bottom: 3.5rem;
}

.btn.primary,
.btn.btn.primary:active {
    border-radius: 0.5rem;
    border: 0.047rem solid #FFF4E9;
    background-color: #FF8B13;
    box-shadow: 0rem 0rem 0.5rem 0rem rgba(255, 139, 19, 0.32);
    color: white;
    padding: 0.875rem 2.5rem;
    margin-top: 24px;
}

.btn.primary.cv {
    margin-top: 0;
}

.btn.secondary,
.btn.secondary:active {
    background: none;
    border: none;
    color: #222222;
    padding: 0.625rem;
}

.btn-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.btn-arrow span {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.partner {
    font-weight: 800;
}

.image-box {
    display: flex;
    flex-grow: 0;
    align-items: center;
    gap: 1rem;
}

.image-box img {
    filter: grayscale(100%);
}

@media (max-width: 1368px) {
    .hero {
        gap: 4px;
    }

    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }

    .image img {
        max-width: 100%;
    }

}

@media (max-width: 1280px) {
    .hero {
        gap: 16px;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }


    .hero .image {
        display: flex;
        justify-content: center;
    }

    .hero .image-box img {
        max-width: 80px;
        height: auto;
    }
}

.text-section {
    text-align: center;
    margin-top: 6.5em;
}

.title-section {
    color: #FF8B13;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-weight: 600;
}

.heading-section {
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    margin: 0.5em;
}

.desc-section {
    margin: 0 auto;
    width: 60%;
}

.testimonial {
    margin: 3rem 0;
}

.testimony-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin: 40px 0;
}

.testimony-item {
    border-radius: 16px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    box-shadow: 0px 0px 24px 0px rgba(34, 34, 34, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.testimony-item p {
    margin: 0;
    padding: 20px;
}

#item-1 {
    grid-area: 1 / 1 / 2 / 2;
}

#item-2 {
    grid-area: 1 / 2 / 2 / 3;
}

#item-3 {
    grid-area: 1 / 3 / 2 / 4;
}

#item-4 {
    grid-area: 2 / 1 / 3 / 2;
}

#item-5 {
    grid-area: 2 / 2 / 3 / 3;
}

#item-6 {
    grid-area: 2 / 3 / 3 / 4;
}

@media (max-width: 1280px) {
    .testimony-container {
        display: flex;
        flex-direction: column;
    }
}

.info .text-section {
    margin-bottom: 40px;
}

.carousel-inner {
    margin: 0 auto;
    width: 85%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: url("./assets/arrow.svg");
    background-size: 20px 15px;
    border-radius: 8px;
    border: 1px solid #C3C3C3;
    background-color: #EBEBEB;
    box-shadow: 0px 0px 24px 0px rgba(34, 34, 34, 0.08);
}

.carousel-control-prev-icon {
    transform: rotate(180deg);
}

.carousel-indicators {
    margin: 8px;
    position: relative;
}

.carousel-indicators .inactive {
    background-color: #C3C3C3;
}

.carousel-indicators .active {
    background-color: #FF8B13;
}

.tutorial-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-top: 40px;
    width: 100%;
}

.tutorial-item.active {
    border-radius: 16px;
    border: 1px solid #FF8B13;
    background: #FFD8B2;
    box-shadow: 0px 0px 24px 0px rgba(34, 34, 34, 0.08);
}

.tutorial-item {
    border-radius: 16px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    box-shadow: 0px 0px 24px 0px rgba(34, 34, 34, 0.08);
    padding: 16px;
    width: 100%;
}

.tutorial-item h3 {
    display: inline-block;
    border-radius: 8px;
    background: #FFF4E9;
    color: #FF8B13;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 16px;
}

.tutorial-item h4 {
    font-size: 18px;
    font-weight: 600;
}

.tutorial-item p,
b {
    font-size: 14px;
}

.tutorial-item-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

#tut-1 {
    grid-area: 1 / 1 / 2 / 2;
}

#tut-2 {
    grid-area: 1 / 2 / 2 / 3;
}

#tut-3 {
    grid-area: 2 / 1 / 3 / 2;
}

#tut-4 {
    grid-area: 2 / 2 / 3 / 3;
}

@media (max-width: 1280px) {
    .tutorial-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .tutorial-container img {
        max-width: 100%;
        height: auto;
    }
}

.job a {
    text-align: center;
    margin: 16px 0;
}

.job .btn.primary {
    margin-bottom: 2.85em;
}

.name-job {
    padding: 20px;
}

.name-job h3 {
    color: #222;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    margin: 0;
}

.name-job span {
    color: #737373;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.job-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.job-item {
    border-radius: 16px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    box-shadow: 0px 0px 25px 0px rgba(34, 34, 34, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 152px;
    padding: 20px 16px;
}

.job-item .job-logo {
    border-radius: 999px;
    border: 1px solid #EBEBEB;
    width: 32px;
    height: 32px;
}

.job-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.job-profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.job-title h4 {
    color: #222;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.job-detail p {
    color: #222;
    font-feature-settings: 'liga' off;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.job-regional {
    padding: 6px 8px;
    margin: 0;
    border-radius: 16px;
    background: #EBEBEB;
    color: #737373;
    font-size: 12px;
    margin-left: auto;
}

hr {
    border: 1px solid #cacaca;
}

.job-location-update {
    display: flex;
    align-items: center;
    flex-grow: 0;
    gap: 8px;

}

.job-location-update p {
    color: #737373;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.status {
    color: #C3C3C3;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-left: auto;
}

#job-1 {
    grid-area: 1 / 1 / 2 / 2;
}

#job-2 {
    grid-area: 1 / 2 / 2 / 3;
}

#job-3 {
    grid-area: 1 / 3 / 2 / 4;
}

#job-4 {
    grid-area: 2 / 1 / 3 / 2;
}

#job-5 {
    grid-area: 2 / 2 / 3 / 3;
}

#job-6 {
    grid-area: 2 / 3 / 3 / 4;
}

#job-7 {
    grid-area: 3 / 1 / 4 / 2;
}

#job-8 {
    grid-area: 3 / 2 / 4 / 3;
}

#job-9 {
    grid-area: 3 / 3 / 4 / 4;
}

@media (max-width: 1280px) {
    .job-container {
        display: flex;
        flex-direction: column;
    }
}

.faq .text-section {
    margin-bottom: 40px;
}

.accordion {
    --bs-accordion-active-bg: #fff;
    --bs-accordion-active-color: #222;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-btn-active-icon: none;
    --bs-accordion-btn-icon: none;
    margin-bottom: 104px;
}

.accordion-button {
    position: relative;
    display: flex;
    gap: 1.75rem;
}

.accordion-button::before {
    width: 1rem;
    height: 1rem;
    content: "";
    background-image: url("./assets/Vector.svg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 0.75rem;
    transition: transform 0.2s ease-in-out
}

.accordion-button:not(.collapsed)::before {
    transform: rotate(180deg);
}

.accordion-item {
    padding: 16px 0;
}

.accordion-item h2 button {
    color: #222;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.stats {
    border-radius: 16px;
    background: #FFF4E9;
    height: 444px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 64px 16px;
    margin: 104px 0;
}

.stats .btn.primary {
    padding: 14px 40px;
    margin: 24px;
}

.stats .stats-container {
    display: flex;
    justify-content: space-between;
    margin: 16px 72px;
}

.stats .text-section {
    margin: 0
}

.stats .stats-item h1,
.stats .stats-item p {
    text-align: center;
}

.stats .stats-item h1 {
    font-size: 48px;
    font-weight: 800;
}

.stats .stats-item p {
    color: #737373;
    text-align: center;
    font-size: 18px;
}

@media (max-width: 1280px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 70px;
    word-wrap: break-word;
    width: 100%;
}

@media (min-width: 1368px) {
    .footer-item:nth-child(1) {
        width: 35%;
    }

    .footer-item:nth-child(3) {
        width: 25%;
    }
}

.footer-item p {
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.footer-item.about p {
    padding: 24px 0;
}

.footer-item h4 {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.footer-item span {
    color: #737373;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

@media (max-width: 1280px) {
    .stats {
        height: 100%;
    }

    .stats .stats-container {
        flex-direction: column;
    }
}